#songName, #songArtist, #imageUrl, #audioElement {
    visibility: hidden;
    align-self: center;
}

div {
    display: flex;
    margin: 10px;
}

h1, h2, h3 {
    text-align: center;
}

#header {
    flex-direction: column;
}

#playlist, #songInfo, #controls, #buttons {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#input, #selector {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#newSongButton {
    align-self: center;
}

#replay {
    justify-content: center;
    gap: 10px
}

#volume {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}